body {
  margin: 0px;
}

p {
  font-family: sans-serif;
  font-weight: lighter;
}

#scrollToTop {
  display: flex;
  align-items: flex-start; 
  font-family: serif;
  background: none;
  border: none; 
  color: black;
  cursor: pointer; 
}

.main {
  position: sticky;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 1001;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 20px;
  padding-left: 10px;
  z-index: 1000;
}

.footer {
  padding: 0px 0px 50vh 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 20px;
}

.reveal {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 2s ease, transform 3s ease;
}

/* Class to add when the element is visible */
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

.text {
  font-size: 14px;
}

.gallery_content {
  column-count: 1;
}

div.gallery img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: serif;
  font-weight: normal;
  margin-top: 0px;
  text-align: left;
  font-size: 36px;
}

a:link {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  text-decoration: underline;
  cursor: pointer;
}

a:focus {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .gallery {
    padding: 0px 2px;
  }

  .container {
    grid-template-columns: 1fr 2fr;
  }

  .navbar {
  grid-template-columns: 1fr 0fr 2fr;
  }
}
