body {
  margin: 30px;
}

p {
  font-family: sans-serif;
  margin-top: 0px;
}

#scrollToTop {
  display: flex;
  align-items: flex-start; 
  font-family: serif;
  background: none;
  border: none; 
  color: black;
  cursor: pointer; 
}

.main {
  position: sticky;
  top: 0;
  width: 100%;
  height: 200px;
  z-index: 1001;
}


.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  z-index: 1000;
}

.footer {
  padding: 0px 0px 50vh 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 10px;
}

.gallery {
  padding: 0px 25vw 0px 0px;
}
.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

/* Class to add when the element is visible */
.reveal-visible {
  opacity: 1;
  transform: translateY(0);
}

.text {
  font-size: 10px;
}

.desc {
  font-size: 10px;
  padding: 0px 25vw 0px 0px;
}

.gallery_content {
  column-count: 1;
}

div.gallery img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: serif;
  font-weight: normal;
  margin-top: 0px;
  text-align: left;
  font-size: 36px;
}

a:link {
  text-decoration: underline;
  cursor: pointer;
}

a:visited {
  text-decoration: underline;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  text-decoration: underline;
  cursor: pointer;
}

a:focus {
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .gallery {
    padding: 0px 2px;
  }
  
  .desc {
  padding: 0px 2px;
  }

}